// Button Component
@use '../utils/variables' as *;

.c-button {
  display: inline-block;
  background: transparent;
  color: $col-gray;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  border: 2px solid $col-boulder;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (any-pointer: fine) {
    &:hover {
      border-color: $col-orange;
      color: $col-black;
      background: $col-orange;
      font-weight: 500;

      .c-link__inner {
        transform: translateY(-100%);
      }
    }
  }

  .c-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__inner {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      transform: translateY(0);
      transition: transform 0.3s $ease-smooth;
      margin-right: 2px;
      
      > span {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &__animated {
      position: absolute;
      top: 100%;
      display: none;

      @media (any-pointer: fine) {
        display: inline-block;
      }
    }
  }

  .share-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
    flex-shrink: 0;
    
    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}
