// Experience & Education Section
@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;
@use '../shared/typography' as *;
@use '../shared/links' as *;
@use '../shared/layout' as *;

.home__experience-education {
  @extend %padding-home;
  @extend %links;
  justify-content: space-between;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;

  @include media('>tablet') {
    display: flex;
    padding-top: 24rem;
    padding-bottom: 24rem;
  }

  &__left {
    margin-bottom: 9.6rem;

    @include media('>tablet') {
      max-width: 55.5rem;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__right {
    @include media('>tablet') {
      max-width: 32.5rem;
      width: 100%;
    }
  }

  &__stack {
    margin-bottom: 9.6rem;
  }

  &__ice {
    margin-bottom: 0;
  }

  .experience-education {
    &__title {
      @extend %description-12;
      color: $col-boulder;
      margin-bottom: 2.4rem;
    }

    &__item {
      @extend %description-16;
      padding: 1.6rem 0;
      border-top: 2px solid $col-boulder;
      position: relative;
      transition: color 0.2s;
    }
  }

  .home__content {
    &__title {
      @extend %description-12;
      text-transform: uppercase;
      color: $col-boulder;
      margin-bottom: 2.4rem;
    }

    &__desc {
      @extend %description-16;
      max-width: 95rem;
      width: 100%;
      @extend %links;

      a {
        text-transform: uppercase;
      }

      .contact-scroll {
        color: $col-boulder;
        transition: color 0.3s;
        background: transparent;
        border: 0;
        padding: 0;
        @extend %description-16;
        font-weight: 500;
        cursor: pointer;

        @media (any-pointer: fine) {
          &:hover {
            color: $col-orange;
          }
        }
      }
    }
  }
}
